<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>Clarendon Regular.otf</string>
		<string>blzee.ttf</string>
		<string>HoneyScript-SemiBold.ttf</string>
		<string>BASKE1.ttf</string>
		<string>BASKE9.ttf</string>
		<string>BASKE10.ttf</string>
		<string>baskervi.ttf</string>
		<string>baskerville bold bt.ttf</string>
		<string>Baskerville Bold font.ttf</string>
		<string>BaskervilleBoldBT.ttf</string>
		<string>BaskervilleBoldItalicsBT.ttf</string>
		<string>BaskervilleBT.ttf</string>
		<string>BaskervilleItalicBT.ttf</string>
		<string>BASKRV_L.ttf</string>
		<string>baskvl.ttf</string>
	</array>
</dict>
</plist>
